.navbar ul{
    list-style-type: none;
    background-color: rgb(81, 148, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;

}

.navbar li{
    float: left;
}

.navbar a:hover{
    background-color: rgb(82, 82, 82);
}

img {
    display: block;
    margin: auto;
    left: 50%;
    margin-bottom: 5px;
}

.entry_description{
    text-align: center;
}

.summary{
    text-align: center;
    background-color: rgb(237, 237, 98);
    margin: 0;
}

.navbar {
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    margin-bottom: 5px;
}

h1{
    font-weight: bold;
    font-size: 100px;
    margin: 0;
}

.post-summary{
    margin-top: 100px;
}

.checbox_captcha {
    background-color: white;
    width: 400px;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: absolute;        
  top: 50%;                  
  left: 50%;                 
  transform: translate(-50%, -50%);             
  justify-content: center;
  align-items: center;
  border: 1px solid black; 
    
}


input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.center-gif{
    top: 50%;
}